DB_URL=jdbc:mysql://127.0.0.1:3306/parking?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Bogota
DB_USERNAME=root
DB_PASSWORD=changeme

APP_AUTH_USERNAME=admin
APP_AUTH_PASSWORD=changeme
